<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">inicio Estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicioEstudiante</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="Inicio">¡Bienvenido a RegistrAPP!  {{Alumno}}</h1>
  <ion-card class="card">
    <img src="assets/Duoc.png" class="ion-padding img" >
    <ion-card-header>
      <ion-card-title class="ion-text-center">Que desea Hacer? </ion-card-title>
    </ion-card-header>
    <ion-card-content>

      <ion-button (click)="onLogout()" expand="block" color="primary" shape="round">Cerrar sesión</ion-button>

      <ion-button (click)="getPicture()" expand="block" shape="round" class="ion-margin">
        Abrir camara
      </ion-button>

      <ion-button routerLink="/perfil-alumno" expand="block" color="primary" shape="round">
        Perfil Alumno
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
