<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="loginForm">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="Pusername"></ion-input>
    </ion-item>
    <div *ngIf="loginForm.get('Pusername')?.invalid && (loginForm.get('Pusername')?.dirty || loginForm.get('Pusername')?.touched)">
      <div style="color:red;" *ngIf="loginForm.get('Pusername')?.hasError('required')">
          *Username es obligatorio
      </div>
      <div style="color:red;" *ngIf="loginForm.get('Pusername')?.hasError('minlength')">
        *Username debe tener 4 caracteres mínimo 
     </div>
    </div>


    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="Ppassword"></ion-input>
    </ion-item>

    <div *ngIf="loginForm.get('Ppassword')?.invalid && (loginForm.get('Ppassword')?.dirty || loginForm.get('Ppassword')?.touched)">
      <div style="color:red;" *ngIf="loginForm.get('Ppassword')?.hasError('required')">
          *Password es obligatorio
      </div>
      <div style="color:red;" *ngIf="loginForm.get('Ppassword')?.hasError('minlength')">
        *Password debe tener 4 caracteres mínimo 
     </div>
    </div>

    <ion-button (click)="login()" [disabled]="!loginForm.valid" expand="block" color="primary" shape="round">
      Login
    </ion-button>
    <ion-button routerLink="/login-alumno" expand="block" color="primary" shape="round">
      Ir Login Alumno
    </ion-button>
    <ion-button routerLink="/registro" expand="block" color="primary" shape="round">
      Registrarme
    </ion-button>


  </form>

</ion-content>